<div class="card requisition">
    <div class="d-flex search">
        <input type="text" placeholder="Número de rastreo" id="number" [(ngModel)]="number">
        <button class="btn btn-primary" (click)="searchRequisition()">Buscar</button>
    </div> 
</div>
<div class="card" *ngIf="isVisible">
    <div class="title">Detalles de la requisición</div>
    <div class="d-flex track">
        <ul id="progressbar" *ngFor="let activity of activitySerializedList let i=index">
            <li class="step active" id="step{{i}}">
                <span>{{activity.userOffice}}</span><br>
                <span>{{activity.status}}</span><br>
                <span>{{activity.date}} {{activity.time}}</span>
            </li>
        </ul>
        <!--
        <ul id="progressbar">
            <li class="step active " id="step1">Farmacia</li>
            <li class="step active text-center" id="step2">Servicio 2</li>
            <li class="step active text-right" id="step3">Servicio 3</li>
            <li class="step text-right" id="step4">R. materiales</li>
        </ul>
        -->
    </div>
    <div class="info">
        <div class="row">
            <div class="col-4"> <span id="heading">Rastreo</span><br> <span id="details">{{requisitionSerialized.trackingNumber}}</span></div>
            <div class="col-4"> <span id="heading">Consecutivo</span><br> <span id="details">{{requisitionSerialized.consecutive}}</span></div>
            <div class="col-4 pull-right"><span id="heading">Receta serie</span><br><span id="details">{{requisitionSerialized.serie}}</span></div>
        </div>
        <div class="row">
            <div class="col-6"> <span id="heading">Paciente</span><br> <span id="details">{{requisitionSerialized.patientName}}</span></div>
            <div class="col-3 pull-right"><span id="heading">RFC</span><br><span id="details">{{requisitionSerialized.rfc}}</span></div>
            <div class="col-3 pull-right"><span id="heading">Teléfono</span><br><span id="details">{{requisitionSerialized.phone}}</span></div>
        </div>
    </div>
    <table id="requisition_table" class="table table-striped table-bordered">
        <thead class="table-light">
            <tr>
                <th>ARTÍCULO</th>
                <th>CANTIDAD</th>
            </tr>
        </thead>
        <tbody class="context-menu-one">
            <tr>
                <td>{{requisitionSerialized.description}}</td>
                <td>{{requisitionSerialized.quantity}}</td>
            </tr>
        </tbody>
    </table>
</div>

