$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;

// ***** CARD *****

.card {
  padding: 10px;
}

.input-group.criteria {
  border-radius: 15px;
}

#criteria {
  height: 50px;
}

#searchByCode {
  height: 50px;
  padding: 0px 20px 0px 20px;
}

#criteria.ng-valid  {
  border-left: 10px solid #42A948; /* green */
}

#criteria.ng-invalid {
  border-left: 10px solid #a94442; /* red */
}

#criteria {
  &:required,&:invalid { 
    box-shadow:none;
   }
}

// ***** TABLE (ADJUST FIELD WITH *ngIf) *****

#selectedItemTable {
  margin-top: 20px;
  margin-bottom: 20px;
}

#selectedItemTable > td {
  text-transform: uppercase;
}

.shorter {
  width: 65%;
}

.larger {
  width: 75%;
}

.p-column-filter {
  padding-left: 35px;
}

// ***** DIALOG NEW ITEM *****

.p-field {
  position: relative;
  padding: 15px 50px 0 50px;
  margin-top: 10px;
  width: 100%;
}

.dialog-field {
  text-transform: uppercase;
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 18px;
  color: #000000;
  padding: 10px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .dialog-label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.dialog-label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}

.dialog-field:focus {
  ~ .dialog-label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    font-weight:700;    
  }
    padding-bottom: 6px;  
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to bottom, $primary,$secondary);
    border-image-slice: 1;
}

.dialog-field{
  &:required,&:invalid { box-shadow:none; }
}

// ***** FORM *****

.selectedItem {
  color: #000000;
  font-weight:700;
  text-transform: uppercase;
}

input, textarea {
  text-transform: uppercase;
}

.dialog-field.ng-valid[required], .dialog-field.ng-valid.required  {
border-image: linear-gradient(to bottom, $primary,$secondary);
border-image-slice: 1;
}

.dialog-field.ng-invalid:not(form)  {
  border-image: linear-gradient(to right, #ff0000, #f87171);
  border-image-slice: 1;
}

// ***** CANCEL AND SAVE BUTTON *****
.p-button-text {
  max-width: 200px;
}
