<div class="card">
    <!-- CONTROL -->
    <div class="row">
        <div class="col-sm-8 d-flex justify-content-start">
            <div class="input-group">
                <div class="input-group criteria">
                    <input id="criteria" class="form-control" type="text"
                        style="font-weight: bold;" required autofocus
                        pattern="[A-Za-z0-9.-_ ]{4,}"
                        name="criteria" [(ngModel)]="criteria" #validator="ngModel">
                    <div class="input-group-append">
                        <button id="searchByCode" class="btn btn-outline-primary fa fa-search"
                            (click)="findByCriteriaInColumns()">&emsp;Buscar
                        </button>
                    </div>
                    <div *ngIf="validator.invalid && submittedSearch" class="alert alert-danger">
                        <div *ngIf="validator.errors!['required']">
                            Dato requerido.
                        </div>
                        <div *ngIf="validator.errors!['pattern']">
                            Mínimo 4 caracteres a buscar
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        <div class="col-sm-3 d-flex justify-content-end">
            <button pButton pRipple label="Nuevo" icon="pi pi-plus"
                class="p-button-success p-mr-2" (click)="showNewDialog()">
            </button>
        </div>
    </div>
    <!-- SELECTED ITEM -->
    <div class="table-responsive-sm">
        <table id="selectedItemTable" class="table table-bordered">
            <thead class="table-active">
                <tr>
                    <th>Nombre</th>
                    <th>RFC</th>
                    <th>Afiliación</th>
                    <th>Teléfono</th>
                    <th>Email</th>
                    <th>Notas</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-success">
                    <td>{{patient.name}}</td>
                    <td>{{patient.rfc}}</td>
                    <td>{{affiliation.code}}</td>
                    <td>{{patient.phone}}</td>
                    <td>{{patient.email}}</td>
                    <td>{{patient.notes}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="p-grid p-nogutter p-justify-between">
        <p-button label="Regresar" (onClick)="prevPage()" icon="pi pi-angle-left"></p-button>
        <p-button label="Siguiente" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
    </div>
</div>

<!-- DIALOG SELECT PATIENT -->
<p-dialog [(visible)]="showTablePatientDialog" [style]="{width: '1200px'}" header="MEDICAMENTOS" [modal]="true"
    styleClass="p-fluid">
    <p-table #dt [value]="patients" [rows]="5" [paginator]="true" [rowsPerPageOptions]="[5,10,25,50]" [filterDelay]="0"
        [globalFilterFields]="['id', 'name', 'rfc']" selectionMode="single" [(selection)]="selectedPatient"
        [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
        [showCurrentPageReport]="true" (onRowSelect)="onRowSelect($event)" (onRowUnselect)="onRowUnselect($event)"
        styleClass="p-datatable-responsive-demo p-datatable-sm">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name">
                    Nombre<p-sortIcon field="name"></p-sortIcon>
                </th>
                <th>RFC</th>
                <th>Afiliación</th>
                <th>Telefóno</th>
                <th>Email</th>
                <th>Notas</th>
                <th *ngIf="isAdmin" style="width: 10%">Opciones</th>
            </tr>
            <tr>
                <th>
                    <span class="p-input-icon-left" style="width: 100%">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" class="p-column-filter" style="width: 100%"
                            (input)="dt.filter($any($event.target).value, 'name', 'contains')">
                    </span>
                </th>
                <th>
                    <span class="p-input-icon-left" style="width: 100%">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" class="p-column-filter" style="width: 100%"
                            (input)="dt.filter($any($event.target).value, 'rfc', 'contains')">
                    </span>
                </th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th *ngIf="isAdmin" style="width: 10%">&nbsp;</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-patient>
            <tr [pSelectableRow]="patient">
                <td>{{patient.name}}</td>
                <td>{{patient.rfc}}</td>
                <td>{{affiliation.code}}</td>
                <td>{{patient.phone}}</td>
                <td>{{patient.email}}</td>
                <td>{{patient.notes}}</td>
                <td *ngIf="isAdmin" style="width: 10%">
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-primary p-mr-2"
                        (click)="editPatient(patient)">
                    </button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                        (click)="deletePatient(patient)">
                    </button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-dialog>

<!-- DIALOG CREATE -->
<p-dialog [(visible)]="showNewPatientDialog" [style]="{width: '850px'}" header="DATOS DEL PACIENTE" [modal]="true"
    styleClass="p-fluid">
    <form #newPatientForm="ngForm">
        <div class="p-field">
            <label for="name_dialog" class="dialog-label">Nombre</label>
            <input id="name_dialog" class="dialog-field" type="text"
                appUppercase required autofocus
                name="name_dialog" [(ngModel)]="newPatient.name" #name="ngModel"
                [ngModel]="newPatient.name" 
                (ngModelChange)="newPatient.name = $event.toUpperCase()">
            <div *ngIf="name.invalid && submittedNew" class="alert alert-danger">
                <div *ngIf="name.errors!['required']">
                    Dato requerido.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="p-field">
                    <label for="rfc_dialog" class="dialog-label">RFC</label>
                    <input id="rfc_dialog" class="dialog-field" type="text"
                        appUppercase required pattern="[a-zA-Z]{4}[0-9]{6}" placeholder="AAAA000000"
                        name="rfc_dialog" [(ngModel)]="newPatient.rfc" #rfc="ngModel"
                        [ngModel]="newPatient.rfc" 
                        (ngModelChange)="newPatient.rfc = $event.toUpperCase()">
                    <div *ngIf="rfc.invalid && submittedNew" class="alert alert-danger">
                        <div *ngIf="rfc.errors!['required']">
                            Dato requerido.
                        </div>
                        <div *ngIf="rfc.errors!['pattern']">
                            Siga el formato AAAA000000 (4 letras, 6 números)
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="p-field">
                    <label for="affiliation_dialog" class="dialog-label">Afiliación</label>
                    <select id="affiliation_code" class="dialog-field" required
                        name="affiliation_code" [(ngModel)]="affiliation.code" #code="ngModel">
                        <option *ngFor="let affiliation of affiliations" 
                            [value]="affiliation.code" 
                            [attr.selected]="affiliation.code==$any(affiliation).Text ? true : null">
                            {{affiliation.code}} - {{affiliation.description}}
                        </option>
                    </select>
                    <div *ngIf="code.invalid && submittedNew" class="alert alert-danger">
                        <div *ngIf="code.errors!['required']">
                            Dato requerido.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-field">
            <label for="phone_dialog" class="dialog-label">Teléfono</label>
            <input id="phone_dialog" class="dialog-field" type="number" pattern="[0-9]+"
                required
                name="phone_dialog" [(ngModel)]="newPatient.phone" #phone="ngModel">
        </div>
        <div class="p-field">
            <label for="email_dialog" class="dialog-label">Email</label>
            <input id="email_dialog" class="dialog-field" type="text" style="text-transform: lowercase;"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                name="email_dialog" [(ngModel)]="newPatient.email" #email="ngModel">
            <div *ngIf="email.invalid && submittedNew" class="alert alert-danger">
                <div *ngIf="email.errors!['pattern']">
                    El formato del email no es correcto. (Siga el formato email@empresa.dominio)
                </div>
            </div>
        </div>
        <div class="p-field">
            <label for="notes_dialog" class="dialog-label">Observaciones</label>
            <input id="notes_dialog" class="dialog-field" type="text" appUppercase
                name="notes_dialog" [(ngModel)]="newPatient.notes" #notes="ngModel"
                [ngModel]="newPatient.notes" 
                (ngModelChange)="newPatient.notes = $event.toUpperCase()">
        </div>
    </form>
    <div class="p-grid p-nogutter p-justify-between">
        <button pButton pRipple label="Cancelar" icon="pi pi-times"
            class="p-button-text" (click)="hideNewDialog()"></button>
        <button pButton pRipple label="Guardar" icon="pi pi-check"
            class="p-button-text" (click)="savePatient(newPatientForm)"></button>
    </div>
</p-dialog>
<!-- DIALOG CONFIRM -->
<p-confirmDialog [style]="{width: '850px'}"></p-confirmDialog>